/*
    GLOBAL START
*/

.ui.grid {
    margin: 0 !important;
}

blockquote{
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}


.no-padding{
    padding: 0 !important;
}

.text-not-selectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.white{
    color: white !important;  
}

.menu-popup > .item:hover{
    background: rgb(31, 102, 255) !important;
    color: white !important;
    cursor: pointer;
}

.btn-link-txt{
    color: rgba(var(--sk_highlight,18,100,163),1);
    font-weight: bold;
}

.btn-link-txt:hover{
    cursor: pointer;
    text-decoration: underline;
}







.rotate-180{
    -moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-o-transform:rotate(180deg);
-ms-transform:rotate(180deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

.floated-right {
    float: right !important;
}

.secondary-text{
    color: rgba(var(--sk_foreground_max,29,28,29),.7);
}

.h-100{
    height: 100% !important;
}

.unstyled{
    all:unset !important;
}

.text-btn:hover{
    cursor: pointer !important;
}

.center-vertical{
    top: 25%;
}

.nopadding-nomargin{
    padding: 0 !important;
    margin: 0 !important;
}

/* 
    GLOBAL END
*/

/*
    WORKSPACE START
*/

.unread-messages-container{
    float: right;
    margin-right: 25px;
    background: red;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid red;
    border-radius: 5px; 
}

.unread-messages-text{

}

#header-menu-popup{
    padding: 0 !important;
}
 

#root {
    height: 100vh;
    /* margin-top: 10px; */
    /* padding: 0.75% !important;   */
    overflow-y: hidden;  
    overflow-x: hidden; 
}

.profile-col{
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    float: right !important;
}

main{
    height: 100%;
}

.workspace-grid{
    /* height: 100%; */
    height: 100% !important;
    padding: 0 !important;
}

.workspace-first-row{
    background: #350d36;
    /* height: 100px; */
    width: 100%;
    height: 40px !important;
    padding: 0 !important;
    /* padding-bottom: 1% !important; */
    /* padding: 0 !important; */

}

.workspace-second-row{
    width: 100% !important;
    height: 97% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.bold{
    font-weight: bold;
}


* {
    /* padding: 0 !important;
    margin: 0 !important; */
    font-family: Lato,appleLogo,sans-serif;
}

/* .workspace-name-grid > * > * > *   {

    padding: 0 !important;
    margin: 0 !important;
} */

.workspace-menu-divider{

}

.workspace-name-grid{
    height: 63.99px;
    padding: 0 !important;
    margin: 0 !important;
    /* padding-top: 6% !important;
    padding-bottom: 7% !important;
    padding-left: 5% !important; */
}

.workspace-name-grid:hover{
    background: #361737;
    cursor: pointer;
}

.channel-title-menu{
    padding-left: 2px !important;
}

.active-item{
    background: #1164A3 !important;
}

.add-channels-menu{
    margin-left: 8% !important;
}

.menu-side-icon-container{
    float: right !important;
    padding-right: 5% !important;
}

.dropdown{
    margin-right: 1% !important;
}

.menu-side-icon{
  
}

.not-fav-star{
    color: rgb(173, 171, 171) !important;
}

.not-fav-star:hover{
    color:rgb(223, 208, 1) !important;
}


#add-channels-menu-txt{
    padding-left: 2% !important;
}

.side-menu-item{
    padding-top: 3px !important;
    padding-bottom: 0px !important; 
}

.testcol{
    padding-top: 5% !important;
}

.workspace-menu{
    padding: 0 !important; 
    background: #3F0E40 !important;
    height: 100%;
    color: white;
    
}

.new-message-btn{
    /* height: 24px; */
    /* width: 12px; */
    /* background: white !important; */
    /* float: right !important; */
    /* margin-right: 15% !important; */
    /* padding-bottom: 10px !important; */
}


.icon-col{
    margin-top: 1% !important;
    margin-left: 3px !important;
}

.collapsible-menu-list{
    /* margin-left: 8% !important;      */
}

.workspace-submenu-row-item{
    padding-left: 12% !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.workspace-submenu-row-item:hover{
    background: #361737;
    cursor: pointer;
}

.workspace-menu-row{
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    padding-left: 5% !important;
}

.workspace-menu-row:hover{
    background: #361737;
    cursor: pointer;
}

.workspace-submenu-row{
    /* padding-bottom: 1.5% !important;
    padding-top: 1.5% !important;
    padding-left: 5% !important; */
    padding: 0 !important;
    padding-left: 5% !important;
    margin: 0 !important;
    width: 100% !important;
}

#drafts-row{
    margin-top: 10px !important; 
}

.workspace-submenu-row:hover{
    background: #361737;
    cursor: pointer;
}

#write-messsage-icon{
    background: white !important;
}


.workspace-menu-text{
    margin-left: 3% !important;
    color: white;

    /* margin: auto !important; */
}

.workspace-name{
    text-align: center !important;
}


.workspace-main-row{
    padding: 0 !important;
    margin: 0 !important;
    height: 64px !important;
    border-top: 1px solid rgb(82,38,83);
    border-bottom: 1px solid rgb(82,38,83);
}

.create-chan-header{
/* padding: 2% !important; */
border: unset !important;
padding-bottom: 0 !important; 
}

.modal-desc{
    padding: 2.5% 0% 2.5% 0 !important;
}

.create-channel-modal-btn-container{
    
}

.create-chan-content{
    /* padding-top: 0 !important; */
    
}



.create-channel-modal{
    height: 50% !important;
    width: 25% !important;
    border-radius: 10px !important;
}



/*
    CHAT START
*/

#profile-img-chat{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 4px !important;
}

.chat-grid{
    height: calc(100% - 67px) !important;
}

.workspace-chat{
    height: 100% !important;
    padding: 0 !important;
}


.chat-header {
    height: 64px !important;
    padding: 0 !important;
    margin: 0 !important;   
    padding-left: 1% !important;
    padding-right: 1% !important;

}

.ql-container{
    border: 1px solid black !important;
    border-radius: 3px !important;
    height: 110px !important;
}

.ql-toolbar {
    position: absolute;
    bottom: 0;
    width: 98.2%;
    transform: translateY(137%);
    border: 1px solid black !important;
    border-top: unset !important;
    background: rgb(240, 238, 238) !important;
  }

  .ql-send-message{
    color: #06c;
  }

  .divider-date-separator{
      position: absolute !important;
      background: gray !important;
      height: 1px !important;
      top: 15px; 
      z-index: -1;
      /* width: 20px !important; */
      width: 100%; 
  }


  .date-separator-container{
      position: relative;
      width: 100% !important;
      text-align: center;
  }

  .date-separator-wrapper{
    background: rgba(var(--sk_primary_background,255,255,255),1);
    /* display: inline-block; */
    z-index: 201;
    padding: .25rem .75rem;
    border-radius: 24px;
    /* position: relative; */
    border: gray 1px solid;
    margin: 0 auto !important;
    /* width: 160px !important; */

  }
  .yesterday-date{
    width: 120px; 
 }

 .other-date{
    width: 160px; 
 }

 .searchbar-add-users > .input{
     width: 100% !important;
 }

 .searchbar-add-users > .results{
     width: 100% !important;
 }
 .searchbar-add-users-results{
     width: 100% !important;
 }

 .chat-header > .column{
    padding-top: 10px;
 }


  .today-date{
     width: 100px; 
  }


  .channel-add-desc{
      color: gray;
      padding-left: 1.5rem;
  }

.chatbox-input{

    width: 100% !important;
}

.chatbox-wrapper{
    width: 100% !important;
    /* border: 1px solid black !important; */
    border-radius: 3px !important;
    max-height: 110px !important;
}

.chat-messages-container{
    /* SIZE */
    height: calc(100% - 220px) !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 3px !important;
    border-top: 1px solid rgba(var(--sk_foreground_low,29,28,29),.13) !important;
} 

#channel-title-chat{
    font-weight: bold !important;
}

#channel-title-user-chat{
    font-weight: bold !important;
    margin-top: 7px !important; 
}

#chat-channel-topic{
    color: gray !important;
}

#star-channel-btn{
    margin-left: 5px !important;
}

#chat-channel-topic:hover{
    cursor: pointer !important;
    color: rgb(0, 119, 255) !important;
}

.ui.search > .results {
    overflow-y: scroll !important;
    max-height: 250px !important;
  }

.user-count-channel-btn:hover{
    cursor: pointer !important;    
}

.user-count-channel-btn:hover > .double-button-half-right{
    background: rgba(var(--sk_foreground_min,29,28,29),.04);
}

.user-count-channel-btn{
    width: 48px !important;
}

#chat-header-menu-container
 {   
     height: 28px !important;
     margin: 0 !important;
     display: inline-flex !important;
     padding-top: 5px !important;
     float: right !important;
 }

 #chat-header-menu-container > *
 {   
    margin-right: 15px !important;
 }

 .user-list{
    margin-top: 6px !important;
    margin-bottom: 10px !important;
     padding-left: 20px !important;
     padding-right: 20px !important;
     padding-top: 5px !important;
     padding-bottom: 5px !important;
     
 }
 .add-people-modal-btn{
    padding-left:  25px !important;
    padding-right:  20px !important;
}

 .user-list-name{
     font-weight: bold; 
 }

 .user-list-picture{
     height: 36px !important;
     width: 36px !important;
     background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 4px;
 }

 .user-list-name-container{

 }

.user-count-channel{
    /* padding: 0 8px 10px 0px !important; */
    height: 50px !important;
    padding-right: 18px !important;
    display: block !important;
    float: right !important;
    font-weight: bold;

}

.user-count-channel-btn:hover{
    cursor: pointer;
}

.double-button-half-left{
    width: 50% !important;
    height: 100% !important;
    display: block !important;
    margin: 0 !important;
    padding:  0 !important;
    float: left !important;
}

.double-button-half-right{
    width: 50% !important;
    height: 28px !important;
    display: block !important;
    margin: 0 !important;
    padding:  0 !important;
    float: right !important;
}

#chat-add-btn:hover{
    cursor: pointer !important;
    background: #2570aa !important;
}

#chat-info-btn{
    color: rgba(var(--sk_foreground_max,29,28,29),.7) !important;
}

#chat-info-btn:hover{
    background: rgba(var(--sk_foreground_min,29,28,29),.04);
    color: rgba(var(--sk_primary_foreground,29,28,29),1) !important;
    cursor: pointer !important;
}

#chat-add-icon{
    /* float: left !important; */
    margin-left: 10px !important;
}

#chat-add-text{
    /* float: right; */
    margin-left: 3px !important;
}


.double-button-count{
    padding-top: 3px !important;
    padding-left: 8px !important;
}

#chat-add-btn{
    background-color: rgba(var(--sk_highlight,18,100,163),1) !important;
    color: white !important;
    height: 27px !important;
    width: 60px !important;
    border-radius: 4px !important;
}

.message-display-container{
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;

}

.message-left-part{
    width: 56px !important;
}

.message-row{
    /* display: inline-block !important; */
    width: 100% !important;
    padding: 8px 10px !important;
    padding-left: 0px !important;
    height: fit-content !important;
    
}

.message-row-edit{
    /* display: inline-block !important; */
    width: 100% !important;
    padding: 8px 10px !important;
    padding-left: 0px !important;
    height: fit-content !important;
    
}

.editing > #toolbar{
    position: unset !important;
    top: unset !important;
    transform: unset !important;
    width: 100% !important;
}

.message-row:hover{
    background: rgb(247, 243, 243); 
}

.message-col-left{
    /* padding:  !important; */
    /* width: 30px !important; */
    padding-left: 5px !important;
    padding-right: 2.5px !important;
    max-width: 60px !important;
}

.message-row:hover > .message-left-col > *{
    color: rgba(var(--sk_foreground_max_solid,97,96,97),1) !important;
    font-size: 12px;
}

.message-row:hover > .message-col-left > .message-left-col > .chat-message-side-time{
    color: rgba(var(--sk_foreground_max_solid,97,96,97),1) !important;
    font-size: 12px;
}

.message-left-col{
    display: block !important;
    width: 56px !important;
    float: left !important;
}

.message-right-col{
    display: inline-block !important;
    height: fit-content !important;
    width: calc(100% - 56px) !important;
    /* padding: 8px  8px 8px 16px !important; */
}

.message-menu-col{
    /* display: inline-block !important; */
    /* height: fit-content !important;
    width: calc(100% - 26px) !important; */

} 

#profile-img-chat-message{
    height: 32px;
    width: 32px;
    float: right !important;
    border-radius: 4px;  
    margin-right: 8px !important;   
    margin-top: 5px !important;
}

#profile-img-chat-message:hover{
    cursor: pointer;
}

#profile-img{
    height: 32px;
    width: 32px;
    float: right !important;
    border-radius: 4px;  
    margin-right: 8px !important;   
    margin-top: 4px !important;
}

.profile-img-btn{
    float: right !important;
}

.profile-img-btn:hover{
    cursor: pointer !important;
}


.chat-message-username{
    font-weight: 900; 
}

.chat-message-username:hover{
    cursor: pointer;
    text-decoration: underline;
}

.chat-message-time{
    margin-left: 10px !important;
    font-size: 0.85em;
    color: rgb(97, 97, 97);
}

.chat-message-side-time{
    color: white;
}


.chatbox-container{
    height: 110px !important;
    padding: 15px !important;
    margin: 0 !important;
}



.chatbox{
    
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;  
    border: 1px solid  rgba(var(--sk_foreground_max_solid,97,96,97),1);    
    border-radius: 2px !important;
}

.chatbox-input{
    height: 100% !important;
    width: 100% !important;
    border: none !important;
    border-bottom: 1px solid  rgba(var(--sk_foreground_max_solid,97,96,97),1) !important;
    resize: none !important;
    padding: 5px !important;
}

.chatbox-input:focus{
    outline: none !important;
    border-radius: 7px !important;
}

.chatbox-textarea-row{
    height: calc(100% - 34px) !important;
    /* min-height: 80px !important; */
}

.chatbox-formatting-row{
    height: 34px !important;
    /* background: blue !important; */
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

.buttons{
    width: 50% !important;
}
.chatbox-button-group-2 {
    width: 50% !important;
    float: right !important;
}

#textarea-chat {
    width: 100% !important;
    height: 100% !important;
}

.chat-message-header{}

.chat-message{
    white-space: normal !important;
    height: fit-content !important;
    clear: both !important;
    display: block !important;
    overflow-x:  hidden !important;
    word-wrap: break-word !important; 
}

.side-menu-padding{
    padding: 5% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.profile-popup::after{
    /* margin-top: 200px !important; */
}

.profile-popup-container{
    width: 250px;
    /* height: 375px; */
    border-radius: 8px;
    /* margin-top: 200px !important; */
    /* padding-top: 70% !important; */
}

.profile-popup-img-container{
    width: 250px;
    height: 250px;    
    /* height: 261px;  */
   
    /* padding: 70% !important; */
   
}

.profile-popup-img{
    width: 100%;
    /* height: 100%; */
    height: 100%;
}

.profile-popup-options-container{
    padding: 20px; 
}

.popup-username{
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center !important;
}

.popup-send-msg-container{
    margin-top: 20px;
    width: 100%;
}

.popup-send-msg-btn{
    width: 100%;

}

.small-user-popup{
    height: 200px;
}

.big-user-popup{
    height: 250px;
}

.message-menu-bar{
    /* width: 100px !important; */
    float: right;
    min-height: unset !important;
    height: 25px !important;
}

.message-menu-bar-btn > .icon {
    color: rgb(68, 68, 68) !important;
}  

.message-menu-bar-btn:hover{
    background: rgba(219, 211, 211, 0.295) !important;
    cursor: pointer;
}

/* 
    CHAT END
*/




/*
    WORKSPACE END
*/



/* Login / Register */
.login-container{
    height: 100%;
}

.register-container{
    height: 100%;
 
}

.register-text{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.register-row{
    transform: translateY(20%);
}

.input-username{
  /* border:  unset !important;
  border: 1px solid rgb(255, 27, 27) !important; */
  border: 1px solid rgb(124, 125, 126);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
}

.input-username ::placeholder{
    color: rgba(0, 0, 0, 0.486) !important;
}

.input-password ::placeholder{
    color: rgba(0, 0, 0, 0.486) !important;
}

.input-password{
    border: 1px solid rgb(124, 125, 126);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
}

.input-button > button{
    width: 100% !important;

    color:  white !important;
    background: #361737 !important;
    
}

.input-button > button:hover{
    background: #3F0E40 !important;
} 

.register-subtext{
    margin-top: 15px;
    font-size: 15px;
    text-align: center; 
}

/* Login / Register END*/
