/*
    WORKSPACE START
*/
.workspace-grid{
    /* height: 100%; */
    height: 100vh !important;
    padding: 0 !important;
}

.workspace-menu{
    padding: 0 !important; 
    background: purple !important;
    
}

.workspace-chat{
    background: gray !important;
}
/*
    WORKSPACE END
*/