/*
    GLOBAL START
*/



.rotate-180{
    -moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-o-transform:rotate(180deg);
-ms-transform:rotate(180deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

.floated-right {
    float: right !important;
}

.h-100{
    height: 100% !important;
}

.unstyled{
    all:unset !important;
}

.text-btn:hover{
    cursor: pointer !important;
}

.center-vertical{
    top: 25%;
}

/* 
    GLOBAL END
*/

/*
    WORKSPACE START
*/

 

#root {
    height: 100vh;  
    overflow-y: hidden;  
    overflow-x: hidden; 
}

main{
    height: 100%;
}

.workspace-grid{
    /* height: 100%; */
    height: 100% !important;
    padding: 0 !important;
}

.workspace-first-row{
    background: #361737;
    /* height: 100px; */
    width: 100%;
    height: 3%;
}

.workspace-second-row{
    width: 100% !important;
    height: 97% !important;
}

.bold{
    font-weight: bold;
}

*{
    padding: 0 !important;
    margin: 0 !important;
    font-family: Lato,appleLogo,sans-serif;
}

.workspace-name-grid{
    height: 63.99px;
    padding-top: 6% !important;
    padding-bottom: 7% !important;
    padding-left: 5% !important;
}

.workspace-name-grid:hover{
    background: #361737;
    cursor: pointer;
}

.channel-title-menu{
  padding-left: 3% !important;
}

.add-channels-menu{
    margin-left: 8% !important;
}

.menu-side-icon-container{
    float: right !important;
    padding-right: 5% !important;
}

.menu-side-icon{
  
}

#add-channels-menu-txt{
    padding-left: 2% !important;
}

.testcol{
    padding-top: 5% !important;
}

.workspace-menu{
    /* padding: 0 !important;  */
    background: #401C41 !important;
    height: 100%;
    color: white;
    
}

.new-message-btn{
    height: 36px;
    width: 36px;
    background: white !important;
    float: right !important;
    margin-right: 15% !important;
    /* padding-bottom: 10px !important; */
}


.icon-col{
    margin-top: 1% !important;
}

.collapsible-menu-list{
    margin-left: 8% !important;     
}

.workspace-menu-row{
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    padding-left: 5% !important;
}

.workspace-menu-row:hover{
    background: #361737;
    cursor: pointer;
}

.workspace-submenu-row{
    padding-bottom: 1.5% !important;
    padding-top: 1.5% !important;
    padding-left: 5% !important;
}

.workspace-submenu-row:hover{
    background: #361737;
    cursor: pointer;
}


.workspace-menu-text{
    margin-left: 3% !important;
    color: white;

    /* margin: auto !important; */
}

.workspace-main-row{
    margin-bottom: 7% !important;
}



/*
    CHAT START
*/

#profile-img-chat{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 4px !important;
}

.chat-grid{
    height: calc(100% - 67px) !important;
}

.workspace-chat{
    height: 100% !important;
}


.chat-header {
    height: 67px !important;
    padding: 0 !important;
    margin: 0 !important;   
    padding-left: 1% !important;
    padding-right: 1% !important;

}

.chat-messages-container{
    height: calc(100% - 110px) !important;
    padding: 0 !important;
    margin: 0 !important;
    border-top: 1px solid rgba(var(--sk_foreground_low,29,28,29),.13) !important;
} 

#channel-title-chat{
    font-weight: bold !important;
}

#chat-channel-topic{
    color: gray !important;
}

#star-channel-btn{
    margin-left: 5px !important;
}

#chat-channel-topic:hover{
    cursor: pointer !important;
    color: rgb(0, 119, 255) !important;
}

.user-count-channel-btn:hover{
    cursor: pointer !important;    
}

.user-count-channel-btn:hover > .double-button-half-right{
    background: rgba(var(--sk_foreground_min,29,28,29),.04);
}

.user-count-channel-btn{
    width: 48px !important;
}

#chat-header-menu-container
 {   
     height: 28px !important;
     margin: 0 !important;
     display: inline-flex !important;
     padding-top: 5px !important;
     float: right !important;
 }

 #chat-header-menu-container > *
 {   
    margin-right: 15px !important;
 }


.user-count-channel{
    /* padding: 0 8px 10px 0px !important; */
    height: 50px !important;
    padding-right: 18px !important;
    display: block !important;
    float: right !important;
    font-weight: bold;

}

.user-count-channel-btn:hover{
    cursor: pointer;
}

.double-button-half-left{
    width: 50% !important;
    height: 100% !important;
    display: block !important;
    margin: 0 !important;
    padding:  0 !important;
    float: left !important;
}

.double-button-half-right{
    width: 50% !important;
    height: 28px !important;
    display: block !important;
    margin: 0 !important;
    padding:  0 !important;
    float: right !important;
}

#chat-add-btn:hover{
    cursor: pointer !important;
    background: #2570aa !important;
}

#chat-info-btn{
    color: rgba(var(--sk_foreground_max,29,28,29),.7) !important;
}

#chat-info-btn:hover{
    background: rgba(var(--sk_foreground_min,29,28,29),.04);
    color: rgba(var(--sk_primary_foreground,29,28,29),1) !important;
    cursor: pointer !important;
}

#chat-add-icon{
    /* float: left !important; */
    margin-left: 10px !important;
}

#chat-add-text{
    /* float: right; */
    margin-left: 3px !important;
}


.double-button-count{
    padding-top: 3px !important;
    padding-left: 8px !important;
}

#chat-add-btn{
    background-color: rgba(var(--sk_highlight,18,100,163),1) !important;
    color: white !important;
    height: 27px !important;
    width: 60px !important;
    border-radius: 4px !important;
}

.message-display-container{
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;

}

.message-left-part{
    width: 56px !important;
}

.message-row{
    /* display: inline-block !important; */
    width: 100% !important;
    padding: 8px 10px !important;
    padding-left: 0px !important;
    height: fit-content !important;
    
}

.message-row:hover{
    background: rgb(247, 243, 243); 
}

.message-row:hover > .message-left-col > *{
    color: rgba(var(--sk_foreground_max_solid,97,96,97),1);
    font-size: 12px;
}

.message-left-col{
    display: block !important;
    width: 56px !important;
    float: left !important;
}

.message-right-col{
    display: inline-block !important;
    height: fit-content !important;
    width: calc(100% - 56px) !important;
    /* padding: 8px  8px 8px 16px !important; */
}

#profile-img-chat-message{
    height: 32px;
    width: 32px;
    float: right !important;
    border-radius: 4px;  
    margin-right: 8px !important;   
    margin-top: 5px !important;
}

.chat-message-side-time{
    /* float: right !important; */
    /* margin-right: 8px !important;  */
}

.chat-message-username{
    font-weight: 900; 
    /* color: black; */
}

.chat-message-time{
    margin-left: 10px !important;
    font-size: 0.85em;
    color: rgb(97, 97, 97);
}

.chat-message-side-time{
    color: white;
}


.chatbox-container{
    height: 110px !important;
    padding: 15px !important;
    margin: 0 !important;
}

.chatbox{
    
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;  
    border: 1px solid  rgba(var(--sk_foreground_max_solid,97,96,97),1);    
    border-radius: 2px !important;
}

.chatbox-input{
    height: 100% !important;
    width: 100% !important;
    border: none !important;
    border-bottom: 1px solid  rgba(var(--sk_foreground_max_solid,97,96,97),1) !important;
    resize: none !important;
    padding: 5px !important;
}

.chatbox-input:focus{
    outline: none !important;
    border-radius: 7px !important;
}

.chatbox-textarea-row{
    height: calc(100% - 34px) !important;
    /* min-height: 80px !important; */
}

.chatbox-formatting-row{
    height: 34px !important;
    /* background: blue !important; */
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

.buttons{
    width: 50% !important;
}
.chatbox-button-group-2 {
    width: 50% !important;
    float: right !important;
}

#textarea-chat {
    width: 100% !important;
    height: 100% !important;
}

.chat-message{
    white-space: normal !important;
    height: fit-content !important;
    clear: both !important;
    display: block !important;
    overflow-x:  hidden !important;
    word-wrap: break-word !important; 
}

/* 
    CHAT END
*/


/*
    WORKSPACE END
*/




